SHOPIFY_STORE_NAME=ear0wx-bt
SHOPIFY_ADMIN_API_KEY=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
api_key=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
